.shopInfoCard {
  display: flex;
  flex-direction: column;
  margin: 0% 40px;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  max-height: 120px;
  max-width: 700px;
  overflow: hidden;
}

.headerLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shopInfoCard h1{
  margin: 0 0 5px 0;
  font-size: 1.2rem;
}

.close{
  right: 10px;
  top: -3px;
  margin: 5px;
}
.close button{
  padding: 0;
  border: 0;
  background-color: white;
}

.description{
  display: flex;
  flex-direction: column;
  flex: 3;
  font-size: 0.8rem;
}

.description div{
  font-weight: 500;
  margin-bottom: 5px;
}

.description div span{
  font-weight: 200;
}

.photo{
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.photo img{
  max-height: 60px;
}

.infoBox{
  display: flex;
  flex-direction: row;
}
