.searchResults {
  list-style: none;
  padding: 0px;
  background-color: white;
  margin: 0px;
  box-shadow: 2px -2px 4px 0px rgba(0, 0, 0, 0.13);
}
.searchResults li {
  font-size: 1.35em;
  padding: 5px 10px;
  border-bottom: 1px solid #dcdcdc;
}
.searchResults li:hover{
  background-color: #00000014;
}

.close{
  position: absolute;
  padding: 0;
  right: -20px;
  background-color: white;
  box-shadow: 2px -2px 4px 0px rgba(0, 0, 0, 0.13);;
}
